@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}


body {
  display: flex;
  flex-direction: column;
}


.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
    display: flex;
}

