.chat{
    height: 300px;
    width: 800px;
    background-color: rgb(239, 242, 244);
    padding: 15px;
}

input {
    width: 150px;
    height: 60px;
}

button {
    height: 60px;
    width: 80px;
}

#chat-form{
    position: fixed;
    right: 0;
}
